<!doctype html>
<html lang="en">
{include file="/head" /}
{include file="/nav" /}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">注册设置</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">全局设置</a></li>
                                    <li class="breadcrumb-item active">注册设置</li>
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
    
                                            <h4 class="header-title">注册信息配置</h4>
                                            <p class="card-title-desc">SMTP用户名是你的邮箱账号<code>例如 1178350505@qq.com</code> smtp密码自行前往<code>邮箱官网</code>获取, 注册赠送是用户注册账号后赠送的点数</p>
    
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">SMTP服务器</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$emailsmtp}" name="emailsmtp">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">SMTP用户名</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$emailname}" name="emailname">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">SMTP密码</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$authcode}" name="authcode">
                                                </div> 
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">注册赠送</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$give}" name="give">
                                                </div> 
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">注册方式</label>
                                                <div class="col-md-10">
                                                    <select class="custom-select" name="email">
                                                        <option value="1" {eq name="email" value="1"}selected{/eq}>邮箱注册</option>
                                                        <option value="0"{eq name="email" value="0"}selected{/eq}>普通注册</option>
                                                        <option value="2"{eq name="email" value="2"}selected{/eq}>关闭注册</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                           <button class="btn btn-primary" id="submit" type="button">
                                            保存
                                         </button>
                                         <button class="btn btn-secondary" id="emailtext" type="button">
                                            邮箱测试
                                         </button> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
    
                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


        <script src="/static/adassets/js/app.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/message.js"></script>
        <script>
            $(document).ready(function(){
                $("#submit").click(function(){
                        $("#submit").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>保存中...');
                        var email      = $("select[name='email']").val();
                        var emailname  = $("input[name='emailname']").val();
                        var authcode   = $("input[name='authcode']").val();
                        var emailsmtp   = $("input[name='emailsmtp']").val();
                        var give       = $("input[name='give']").val();
                        $.ajax({
                          url:'/admin/globalsite/registerSettings',
                          type:'post',
                          data:{
                              email:email,
                              emailname:emailname,
                              authcode:authcode,
                              emailsmtp:emailsmtp,
                              give:give,
                          },
                         success:function(data){
                                $("#submit").html('保存');
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                setTimeout(function(){ window.location.href= ''; }, 2000);
                         }
                        });
                });
                
                $("#emailtext").click(function(){
                        $("#emailtext").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>发送中...');
                        $.ajax({
                          url:'/admin/globalsite/emailText',
                          type:'post',
                          data:{},
                         success:function(data){
                             if(data.status==200){
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                $("#emailtext").html('邮箱测试');
                                // setTimeout(function(){ window.location.href= ''; }, 2000);
                             }else{
                                 $.message({
                                    message:''+data.msg+'',
                                    type:'error',
                                });
                                $("#emailtext").html('邮箱测试');
                             }
                                
                         }
                        });
                });
            });
        </script>
    </body>
</html>
