<!doctype html>
<html lang="en">
{include file="/head" /}
{include file="/nav" /}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">网站设置</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">全局设置</a></li>
                                    <li class="breadcrumb-item active">网站设置</li>
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
    
                                            <h4 class="header-title">网站信息配置</h4>
                                            <p class="card-title-desc">修改完信息 <code>注意保存</code> 如有不生效请清理缓存</p>
    
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">网站标题</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$webtitle}" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">网站关键词</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$keyword}" name="keyword">
                                                </div> 
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-email-input" class="col-md-2 col-form-label">网站描述</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$contents}" name="contents">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-url-input" class="col-md-2 col-form-label">QQ链接</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="url" value="{$qq}" name="qq">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-md-2 col-form-label">QQ群链接</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$qun}" name="qun">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-number-input" class="col-md-2 col-form-label">客户端URL</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$khdurl}" name="khdurl">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">主题模板</label>
                                                <div class="col-md-10">
                                                    <select class="custom-select" name="tep">
                                                        {$moban|raw}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="example-number-input" class="col-md-2 col-form-label">清理密钥</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$Cleankey}" name="Cleankey">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="example-datetime-local-input" class="col-md-2 col-form-label">网站公告</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" name="notice" rows="10">{$notice}</textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="example-datetime-local-input" class="col-md-2 col-form-label">轮播广告</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" name="lbtgg" rows="10">{$lbtgg}</textarea>
                                                </div>
                                            </div>
                                            
                                           <button class="btn btn-primary" id="submit" type="button">
                                            保存
                                         </button> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
    
                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


        <script src="/static/adassets/js/app.js"></script>
        <script type="text/javascript" src="/static/assets/js/message.js"></script>
        <script>
            $(document).ready(function(){
                $("#submit").click(function(){
                        $("#submit").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>保存中...');
                        var name    = $("input[name='name']").val();
                        var keyword = $("input[name='keyword']").val();
                        var contents= $("input[name='contents']").val();
                        var qq      = $("input[name='qq']").val();
                        var qun     = $("input[name='qun']").val();
                        var tep     = $("select[name='tep']").val();
                        var khdurl  = $("input[name='khdurl']").val();
                        var Cleankey = $("input[name='Cleankey']").val();
                        var lbtgg   = $("textarea[name='lbtgg']").val();
                        var notice  = $("textarea[name='notice']").val();
                        $.ajax({
                           url:'/admin/globalsite/configSettings',
                           type:'post',
                           data:{
                               name:name,
                               keyword:keyword,
                               contents:contents,
                               qq:qq,
                               qun:qun,
                               tep:tep,
                               khdurl:khdurl,
                               Cleankey:Cleankey,
                               lbtgg:lbtgg,
                               notice:notice,
                           },
                         success:function(data){
                                $("#submit").html('保存');
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                setTimeout(function(){ window.location.href= ''; }, 2000);
                         }
                        });
                });
                
            });
        </script>
    </body>
</html>
