<!doctype html>
<html lang="en">
{include file="/head" /}
{include file="/nav" /}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">批量替换</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">资源管理</a></li>
                                    <li class="breadcrumb-item active">批量替换</li>
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
    
                                            <h4 class="header-title">批量替换</h4>
                                            <p class="card-title-desc">原链接多个请用逗号隔开!名称之间#相连,替换链接只允许有一个,原链接可以有多个前提是换行隔开,具体格式请看示例！<code>一行对应一行！回车换行！</code> </p>
                                            <form action="" method="post">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">原链接</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" name="old" rows="10">我不是药神#http://xx.xx.xx/xxx/xx.html,http://xx.xx.xx/xxx/xx.html,http://xx.xx.xx/xxx/xx.html
少年的你#http://xx.xx.xx/xxx/xx.html,http://xx.xx.xx/xxx/xx.html</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">新链接</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control" name="naw" rows="10">http://xx.xx.xx/xxx/xx.html【这是我不是药神的替换链接】
http://xx.xx.xx/xxx/xx.html【这是少年的你替换链接】</textarea>
                                                </div> 
                                            </div>
                                            
                                           <button class="btn btn-primary" type="submit">
                                            保存
                                         </button>
                                         </form>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
    
                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


        <script src="/static/adassets/js/app.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/message.js"></script>
        <script>
            $(document).ready(function(){
                $("#submit").click(function(){
                        $("#submit").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>保存中...');
                        var old  = $("textarea[name='old']").val();
                        var naw  = $("textarea[name='new']").val();
                        $.ajax({
                          url:'/admin/ResourManage/batchImport',
                          type:'post',
                          data:{
                              old:old,
                              naw:naw,
                          },
                         success:function(data){
                                $("#submit").html('保存');
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                //setTimeout(function(){ window.location.href= ''; }, 2000);
                         }
                        });
                });
                
               
            });
        </script>
    </body>
</html>
