<!doctype html>
<html lang="en">

{include file="/head" /}
{include file="/nav" /}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">修改替换</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">资源管理</a></li>
                                    <li class="breadcrumb-item active">修改替换</li>
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
    
                                            <h4 class="header-title">修改替换</h4>
                                            <p class="card-title-desc">此功能不懂请上官网博客查看,替换前请查看播放器是否支持播放!看看链接是否正常<code>本系统优先走替换！</code> </p>
    
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">名称</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$replace['name']}" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">原链接</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$replace['url']}" name="url">
                                                </div> 
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">新链接</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value="{$replace['newurl']}" name="newurl">
                                                </div> 
                                            </div>
                                            <input type="hidden" name="id" value="{$replace['id']}">
                                             <div class="form-group row">
                                                <label class="col-md-2 col-form-label">是否启用</label>
                                                <div class="col-md-10">
                                                    <select class="custom-select" name="status">
                                                        <option value="1" {eq name="$replace['status']" value="1"}selected{/eq}>启用</option>
                                                        <option value="2"{eq name="$replace['status']" value="2"}selected{/eq} >关闭</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                           <button class="btn btn-primary" id="submit" type="button">
                                            保存
                                         </button>
                                         
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
    
                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


        <script src="/static/adassets/js/app.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/message.js"></script>
        <script>
            $(document).ready(function(){
                $("#qq").click(function(){
                    console.log($("#qq").val());
                })
                $("#submit").click(function(){
                        $("#submit").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>保存中...');
                        var name    = $("input[name='name']").val();
                        var url     = $("input[name='url']").val();
                        var id     = $("input[name='id']").val();
                        var newurl  = $("input[name='newurl']").val();
                        var status  = $("select[name='status']").val();
                        $.ajax({
                          url:'/admin/ResourManage/edit',
                          type:'post',
                          data:{
                              id:id,
                              name:name,
                              url:url,
                              newurl:newurl,
                              status:status,
                          },
                         success:function(data){
                                $("#submit").html('保存');
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                //setTimeout(function(){ window.location.href= ''; }, 2000);
                         }
                        });
                });
                
            });
        </script>
    </body>
</html>
