<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="And Host - Domain Hosting HTML Template">
    <meta name="keywords" content="hosting, domain, ssl, Hosting, Domain, business, .com, .net, .org, corporate">
    <meta name="author" content="webguru071">
    <meta property="og:type" content="Web Template">
    <meta property="og:title" content="And Host - Domain Hosting HTML Template">
    <meta property="og:description" content="And Host - Domain Hosting HTML Template">
    <meta property="og:image" content="/static/homeassets/img/preview.jpg">
    <meta name="twitter:card" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:title" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:description" content="And Host - Domain Hosting HTML Template">
    <meta name="twitter:image" content="/static/homeassetsimg/preview.jpg">
    <meta name="msapplication-TileImage" content="/static/homeassets/img/preview.jpg">
    <meta name="msapplication-TileColor" content="#4da2ef">
    <meta name="theme-color" content="#0a8aff">
    <title>{$webtitle} - 首页</title>

    <!--=======================================
      All CSS Style link
    ===========================================-->

    <!-- Custom styles for this template -->
    <link href="/static/homeassets/css/style.css" rel="stylesheet">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <!--<link rel="icon" href="/static/homeassets/img/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="/static/homestatic/homeassetsimg/favicon-16x16.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/homeassets/img/favicon-16x16.png">-->

    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="/static/homeassets/img/apple-icon-72x72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="/static/homeassets/img/apple-icon-114x114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="/static/homeassets/img/apple-icon-144x144.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="/static/homeassets/img/favicon-16x16.png" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="home-1">

<!-- Pre Loader Area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
<!-- Pre Loader Area End -->

<!--Main Menu/ Mobile Menu Section-->
<section class="menu-section-area">

    <!-- Top Menu -->
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="left-top-menu">
                        <li><a href="{$qq}"><i class="far fa-comment"></i>客服QQ:2788837873</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="right-top-menu text-right">
                        <li><a href="user/login/">登陆</a></li>
                        <li><a href="user/login/register.html">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Menu -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top d-none d-sm-none d-md-block d-lg-block d-xl-block" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="/static/homeassets/img/logo.png" alt="AndHost" class="img-fluid"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                
            </div>
        </div>
    </nav>
    <!-- Navigation -->

    <!-- Mobile Menu Start -->
    <nav class="mobile_menu hidden d-none">
        <a href="index.html"><img class="mobile-logo" src="/static/homeassets/img/logo.png" alt="Logo"></a>
        <ul class="nav navbar-nav navbar-right menu">
            <li class="dropdown active">
                <a>首页</a>
            </li>
        </ul>
    </nav>
    <!-- Mobile Menu End -->
</section>
<!--Main Menu/ Mobile Menu Section-->

<!-- Header Start -->
<header id="home" class="home-banner-area position-relative">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Hero Area Wrapper-->
                <div class="hero-area-wrapper position-relative">
                    <div class="hero-area-content" id="wrapper">
                        <h1>YunHai 4.2<br>Pro</h1>
                        <div class="hero-button-box text-center">
                            <a href="/user" class="js-scroll-trigger theme-button text-capitalize">登陆</a>
                            <a href="/user/login/register.html" class="Js-scroll-trigger theme-button text-capitalize">注册</a>
                        </div>
                    </div>
                    <div id="scroll-bottom" class="scroll-to-bottom">
                        <a href="#domain-search" class="js-scroll-trigger"><span></span>下拉</a>
                    </div>
                </div>
                <!--Hero Area Wrapper-->
            </div>
        </div>
    </div>


    <!-- Effect End-->

    <!-- Wave Effect Start-->
    <div class="footer-wave"></div>
    <!-- Wave Effect End-->

</header>
<!-- Header End -->

<!-- Domain Name Search Area Start -->
<section id="domain-search" class="domain-name-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Domain Search Wrapper Start-->
                <div class="domain-search-wrapper">
                    <div class="section-title-area"><h3 class="section-heading">接口测试</h3></div>
                    <form action="{$jx}" method="get">
                        <div class="form-row">
                            <div class="form-group domain-search-input-wrap position-relative">
                                <div class="domain-search-custom-placeholder">
                                    <span id="typed-strings">
                                        <b>云海二开计费系统 http://yhjx.shijueyy.com/</b>
                                    </span>
                                    <span id="typed"></span>
                                </div>
                                <input  name="url" class="form-control" placeholder="请填写url" id="domain-name">
                            </div>
                            <button type="submit" class="theme-button" style="margin-left:95px;">解析</button>
                        </div>
                    </form>
                </div>
                <!--Domain Search Wrapper End-->
            </div>
        </div>
    </div>
</section>
<!-- Domain Name Search Area End -->

<!-- Our Services Area Start -->
<section id="services" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-area">
                    <h2 class="section-heading">关于系统<span class="d-block"></span></h2>
                    <p class="section-subheading">云海计费系统全新v4.0版本,采用最新tp6框架开发,提高程序稳定性。</p>
                </div>
            </div>
        </div>

        <!-- All Service Wrapper-->
        <div class="row all-service-wrapper">

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/1.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>计费模式</h4>
                        <p>支持包月包点两种计费模式，可以灵活自由选择！可以单独设置调用限制！</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/2.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>在线支付</h4>
                        <p>目前系统对接码支付,支持微信支付宝QQ等多种方式,资金即时到账!用户可自助完成套餐购买</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/3.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>短视频</h4>
                        <p>支持大多主流短视频的去水印,带有配套客户端,并且支持json方式调用,可以配合小程序或app使用</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/4.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>替换系统</h4>
                        <p>系统优先走替换,秒解析,无语加载等待,可以修复资源,或改善资源画质使用！</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/5.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>客户端</h4>
                        <p>配套客户端支持弹幕播放器,可以自建弹幕库！支持记忆播放,断点播放,支持一键开启放调试！</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

            <!--Single Service box Start-->
            <div class="col-12 col-sm-12 col-md-4">
                <div class="single-service aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">

                    <div class="hover-content"></div>
                    <img src="/static/homeassets/img/service-img/6.svg" alt="Server">
                    <div class="single-service-content">
                        <h4>蓝光资源</h4>
                        <p>系统已对接蓝光资源站,站点视频无广告1080p拖拽不卡！部分视频拥有4k片源！</p>
                        <a href="single-service.html"><i class="flaticon-right-arrow"></i>See More</a>
                    </div>
                </div>
            </div>
            <!--Single Service box End-->

        </div>
        <!-- All Service Wrapper-->
    </div>

</section>
<!-- Our Services Area End -->

<!-- Our Services Area Start -->
<section id="pricing" class="pricing-table-area">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-title-area">
                    <h2 class="section-heading">套餐价格<span class="d-block"></span></h2>
                    <p class="section-subheading">An enim nullam tempor sapien gravida donec enim ipsum blandit porta justo integer</p>
                </div>
            </div>
        </div>

        <!-- All Service Wrapper-->
        <div class="row all-pricing-wrapper">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="pricing-table-box wow fadeInLeft" data-wow-duration="1.0s" data-wow-delay=".4s">
                    <h4 class="pricing-table-name">5万点数</h4>
                    <div class="pricing-table-box-price">28<span>元</span> </div>
                    <div class="discount-tag">稳定线路 <br><span>蓝光资源</span> </div>
                    <ul class="pricing-table-listing">
                        <li>解析一次扣一点,失败不扣点</li>
                        <li>永久有效，即冲即用无限制</li>
                        <li>全天售后客服在线</li>
                        <li>24小时资源审核</li>
                    </ul>
                    <a href="user/login/"><i class="flaticon-right-arrow"></i>Buy Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="pricing-table-box wow fadeInLeft" data-wow-duration="1.0s" data-wow-delay=".4s">
                    <h4 class="pricing-table-name">15万点数</h4>
                    <div class="pricing-table-box-price">58<span>元</span> </div>
                    <div class="discount-tag">稳定线路 <br><span>蓝光资源</span> </div>
                    <ul class="pricing-table-listing">
                        <li>解析一次扣一点,失败不扣点</li>
                        <li>永久有效，即冲即用无限制</li>
                        <li>全天售后客服在线</li>
                        <li>24小时资源审核</li>
                    </ul>
                    <a href="user/login/"><i class="flaticon-right-arrow"></i>Buy Now</a>
                </div>
            </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="pricing-table-box wow fadeInLeft" data-wow-duration="1.0s" data-wow-delay=".4s">
                    <h4 class="pricing-table-name">35万点数</h4>
                    <div class="pricing-table-box-price">88<span>元</span> </div>
                    <div class="discount-tag">稳定线路 <br><span>蓝光资源</span> </div>
                    <ul class="pricing-table-listing">
                        <li>解析一次扣一点,失败不扣点</li>
                        <li>永久有效，即冲即用无限制</li>
                        <li>全天售后客服在线</li>
                        <li>24小时资源审核</li>
                    </ul>
                    <a href="user/login/"><i class="flaticon-right-arrow"></i>Buy Now</a>
                </div>
            </div>

        </div>
        <!-- All Service Wrapper-->

   </div>
</section>
<!-- Our Services Area End -->

<!-- Testimonial Area Start -->
<section id="testimonial" class="testimonial-area different-bg">
    <div class="container">
        <!-- Testimonial Slider Area Start -->
        <div class="row testimonial-slider-wrapper">

            <div class="col-12">
                <div class="section-title-area">
                    <h2 class="section-heading">系统用户 <span class="d-block"></span></h2>
                    <p class="section-subheading"></p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12">
                <div class="testimonial-slider owl-carousel position-relative">

                    <!-- Testimonial Slider Item Start-->
                    <div class="item">
                        <div class="testimonial-slide-box">
                            <img src="http://q1.qlogo.cn/g?b=qq&nk=2788837873&s=100" alt="John Doe">
                            <h5>云海解析</h5>
                            <p>博客:http://cloudhai.cn
                            </p>
                        </div>
                    </div>
                    <!-- Testimonial Slider Item End-->

                    <!-- Testimonial Slider Item Start-->
                    <div class="item">
                        <div class="testimonial-slide-box">
                            <img src="/static/homeassets/img/testimonial-slider-img/avatar2.png" alt="Testimonial">
                            <h5>待添加</h5>
                            <p>待添加
                            </p>
                        </div>
                    </div>
                    <!-- Testimonial Slider Item End-->

                    <!-- Testimonial Slider Item Start-->
                    <div class="item">
                        <div class="testimonial-slide-box">
                            <img src="/static/homeassets/img/testimonial-slider-img/avatar1.png" alt="Testimonial">
                            <h5>待添加</h5>
                            <p>待添加
                            </p>
                        </div>
                    </div>
                    <!-- Testimonial Slider Item End-->

                    <!-- Testimonial Slider Item Start-->
                    <div class="item">
                        <div class="testimonial-slide-box">
                            <img src="/static/homeassets/img/testimonial-slider-img/avatar2.png" alt="Testimonial">
                            <h5>待添加</h5>
                            <p>待添加
                            </p>
                        </div>
                    </div>
                    <!-- Testimonial Slider Item End-->

                </div>

                <!-- Next/Preview Button Start-->
                <div class="testimonial_slide_nav">
                    <span class="testi_prev">
                        <i class="flaticon-left-arrow"></i>
                    </span>
                        <span class="testi_next">
                        <i class="flaticon-right-arrow"></i>
                    </span>
                </div>
                <!-- Next/Preview Button End-->
            </div>

        </div>
        <!-- Testimonial Slider Area End -->
    </div>
</section>
<!-- Testimonial Area End -->

<!-- All Blog Posts Area Start -->

<!-- Counter Area Start -->
<section id="counter" class="counter-area">
    <div class="container">

        <!-- Counter Row Start-->
        <div class="row">

            <!-- Single Counter-->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-counter text-center wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                    <div class="counter-icon"><img src="/static/homeassets/img/counter-icon/client.svg" alt="client"></div>
                    <h4 class="counter-content">Happy Clients</h4>
                    <div class="counter-number"><span class="counter">964</span> + </div>
                </div>
            </div>
            <!-- Single Counter-->

            <!-- Single Counter-->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-counter text-center wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                    <div class="counter-icon"><img src="/static/homeassets/img/counter-icon/hosting.svg" alt="client"></div>
                    <h4 class="counter-content">Hosting Sites</h4>
                    <div class="counter-number"><span class="counter">453</span> + </div>
                </div>
            </div>
            <!-- Single Counter-->

            <!-- Single Counter-->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-counter text-center wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                    <div class="counter-icon"><img src="/static/homeassets/img/counter-icon/domain.svg" alt="client"></div>
                    <h4 class="counter-content">Domain Registered</h4>
                    <div class="counter-number"><span class="counter">764</span> + </div>
                </div>
            </div>
            <!-- Single Counter-->

            <!-- Single Counter-->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-counter text-center wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                    <div class="counter-icon"><img src="/static/homeassets/img/counter-icon/feedback.svg" alt="client"></div>
                    <h4 class="counter-content">Client's Feedback</h4>
                    <div class="counter-number"><span class="counter">956</span> + </div>
                </div>
            </div>
            <!-- Single Counter-->
        </div>
        <!-- Counter Row End-->
    </div>
</section>

<!-- Footer Start -->
<footer class="footer-area">
    <div class="footer-wave"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-newsletter text-center">
                    <h3>建议留言</h3>
                    <div class="footer-newsletter-form">
                        <form>
                            <div class="form-row">
                                <div class="form-group m-0">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="form-group m-0">
                                    <button type="submit" class="theme-button">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-main-content-area">
            <div class="col-xl-3 col-lg-3 col-md-3 footer-logo">
                <figure><a href="index.html"><img src="/static/homeassets/img/logo.png" alt="Logo"></a></figure>
                <p>系统出售438元,欢迎咨询qq2788837873</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer-widget">
                <h4>友情链接</h4>
                <ul class="footer-links-list">
                    <li><a href="http://cloudhai.cn/">云海博客</a></li>
                    <li><a href="http://sq.ymcx.shop/">授权查询</a></li>
                    
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer-widget">
                <h4>其他</h4>
                <ul class="footer-links-list">
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer-widget">
                <h4>其他</h4>
                <ul class="footer-links-list">
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                    <li><a href="#">待添加</a></li>
                </ul>
            </div>
        </div>
        <div class="row copyright-are">
            <div class="col-12">
                <div class="copyright-text text-center">
                    <p>2022 © 云海科技</p>
                    <ul class="footer-social-links d-flex justify-content-center">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Effect End-->
</footer>
<!-- Footer End -->

<!--Fixed chat bot area start-->
<a href="/" class="chat-bot-box"><i class="fas fa-comment-alt"></i></a>
<!--Fixed chat bot area end-->

<!--Go To Top Arrow area start-->
<div class="top-arrow">
    <a href="#" id="scroll" style="display: none;"><i class="fas fa-angle-up"></i></a>
</div>
<!--Go To Top Arrow area End-->

<!--=======================================
    All Jquery Script link
===========================================-->

<!-- Bootstrap core JavaScript -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="./static/homeassets/vendor/jquery/popper.min.js"></script>
<script src="./static/homeassets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- ==== Plugin JavaScript ==== -->

<!-- jQuery owl carousel -->
<script src="./static/homeassets/js/owl.carousel.min.js"></script>

<script src="./static/homeassets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!--Input Field Script-->
<script src="./static/homeassets/js/input-field.js"></script>

<!--Type Js Script-->
<script src="./static/homeassets/js/typed.min.js"></script>

<!--Paroller Script-->
<script src="./static/homeassets/js/jquery.paroller.min.js"></script>

<!--WOW JS Script-->
<script src="./static/homeassets/js/wow.min.js"></script>

<!--AOS JS Script-->
<script src="./static/homeassets/js/aos.js"></script>

<!--WayPoints JS Script-->
<script src="./static/homeassets/js/waypoints.min.js"></script>

<!--Counter Up JS Script-->
<script src="./static/homeassets/js/jquery.counterup.min.js"></script>

<!--VenoBox Script-->
<script src="./static/homeassets/js/venobox.min.js"></script>

<!--Custom Select Script-->
<script src="./static/homeassets/js/custom-select.js"></script>

<!--Mean Menu/Mobile Menu Script-->
<script src="./static/homeassets/js/jquery.meanmenu.min.js"></script>

<!-- Custom scripts for this template -->
<script src="./static/homeassets/js/custom.js"></script>

<script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
        smartBackspace: true,
    });
</script>

</body>

</html>