<!doctype html>
<html lang="en">
    {include file="/head" /}
    {include file="/nav" /}
    <!-- END Sidebar -->

              <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">系统商店</h4>
                                    <ol class="breadcrumb m-0">
                                        
                                    <li class="breadcrumb-item active">当前token：{:session('jifei')}</li>
                                    </ol>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    
                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                
                                <div class="col-md-6 col-xl-3">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <h4 class="card-title font-size-16 mt-0">简约首页主题</h4>
                                            <p class="card-text">系统自带默认前台主题,可在此进行设置修改等,修改前请备份以免导致错改无法正常使用等！</p>
                                            <a href="./setunit?name=default" class="btn btn-primary waves-effect waves-light" style="">设置</a>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                             <h1 style="text-align:center;">插件库</h1>
                           <div class="row">
    
                              <h6>即将开放</h6>
                               
                           </div> 

                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

        <!-- datepicker -->
        <script src="/static/adassets/libs/air-datepicker/js/datepicker.min.js"></script>
        <script src="/static/adassets/libs/air-datepicker/js/i18n/datepicker.en.js"></script>

        <!-- apexcharts -->
        <script src="/static/adassets/libs/apexcharts/apexcharts.min.js"></script>

        <script src="/static/adassets/libs/jquery-knob/jquery.knob.min.js"></script> 

        <!-- Jq vector map -->
        <script src="/static/adassets/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="/static/adassets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>
        <script>
        $(document).ready(function(){
                    $.ajax({
                        url:'/admin/index/tjnum',
                        type:'post',
                        data:{},
                        success:function(data){
                            console.log(data);
                            var arr = [];
                            var i = 1;
                            for(var key in data.ph){
                                 arr[i] = key;
                                 i++;
                            }
                            tb(data,arr);
                        }
                    }); 
            });
        </script>
        <script src="/static/adassets/js/pages/dashboard.init.js"></script>

        <script src="/static/adassets/js/app.js"></script>
        
    </body>
</html>