<!DOCTYPE html>
<html lang="en">
{include file="/head" /} 
<body>
{include file="/msg" /} 
    <!-- Begin page -->
    <div id="wrapper">
        
        <!-- ========== 导航 ========== -->
        {include file="/nav" /} 
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">套餐列表</h4>
                            </div>

                        </div>
                        
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="text-center">
                                <h5>自助购买</h5>
                                <p class="text-muted"><font color="red">温馨提示：如果当前是包点购买包月后会将点数清零 同样当前是包月购买包点套餐将会把天数清空</font></p>
                                 <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <a href="/user/price?types=1"><label class="btn btn-info">
                                                    <font color="white">包点套餐</font>
                                                </label></a>
                                                <a href="/user/price?types=2"><label class="btn btn-info">
                                                    <font color="white">包月套餐</font>
                                                </label></a>
                        </div>
                            </div>

                        </div>
                    </div>

                    <div class="row m-t-30">
                        {volist name="list" id="tc"}
                        <div class="col-xl-3 col-md-6">
                            <div class="card pricing-box mt-4">
                                <div class="pricing-icon">
                                    <i class="ti-shield bg-success"></i>
                                </div>

                                <div class="pricing-content">
                                    <div class="text-center">
                                        <h5 class="text-uppercase mt-5">{$tc.name}</h5>
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h1>{$tc.price} ¥</h1>
                                        </div>
                                        <div class="pricing-border mt-5"></div>
                                    </div>
                                    <div class="pricing-features mt-4">
                                            {$tc.introduce|RAW}
                                    </div>
                                    <div class="pricing-border mt-4"></div>
                                    <div class="mt-4 pt-3 text-center">
                                        <a href="/user/price/purChase?id={$tc.id}" class="btn btn-success btn-lg w-100 btn-round">购买</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/volist}
                        

                    </div>



                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->

             {include file="/foot" /} 

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.js"></script>
    <script src="/static/assets/js/waves.min.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/app.js"></script>

</body>

</html>