<!doctype html>
<html lang="en">
{include file="/head" /}
{include file="/nav" /}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">用户编辑</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="./index">用户管理</a></li>
                                    <li class="breadcrumb-item active">用户套餐</li>
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            
                                            <h4 class="header-title">用户编辑</h4>
                                            <p class="card-title-desc">修改包月到期时间 <code>请严格按照格式</code> 修改,出错自行承担  格式：2020-1-1 12:00:00</p>
    
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">用户名</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value='{$row.username}' readonly="readonly" name="username" placeholder="例如 包月套餐">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">UID</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="number" value='{$row.user_uid}' name="user_uid">
                                                </div> 
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-md-2 col-form-label">密钥</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value='{$row.user_key}' name="user_key">
                                                </div> 
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">类型</label>
                                                <div class="col-md-10">
                                                    <select class="custom-select" id="dian" name="type">
                                                        <option value="1" {eq name="$row.type" value="1"}selected{/eq}>包点用户</option>
                                                        <option value="2"{eq name="$row.type" value="2"}selected{/eq}>包月用户</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row" id="k">
                                                <label for="example-url-input" class="col-md-2 col-form-label" id="textmonth">{eq name="row.type" value="1"}剩余点数{else}到期时间{/eq}</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value='{$row.surplus}' name="surplus">
                                                </div>
                                            </div>
                                            <div class="form-group row" id="limit">
                                            {if condition="$row.type==2"}
                                                <label for="example-url-input" class="col-md-2 col-form-label" id="textmonth">限制</label><div class="col-md-10"><input class="form-control" type="number"  name="limitnum" value="{$row.limitnum}" placeholder="限制每日调用次数 例如10000"></div>
                                            {/if}
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">余额</label>
                                                <div class="col-md-10">
                                                    <input class="form-control" type="text" value='{$row.balance}' name="balance">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">是否启用</label>
                                                <div class="col-md-10">
                                                    <select class="custom-select" name="status">
                                                        <option value="1"{eq name="$row.status" value="1"}selected{/eq}>启用</option>
                                                        <option value="0"{eq name="$row.status" value="2"}selected{/eq}>关闭</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                           <button class="btn btn-primary" id="submit" type="button">
                                            保存
                                         </button> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
    
                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


        <script src="/static/adassets/js/app.js"></script>
        <script type="text/javascript" src="/static/assets/js/message.js"></script>
        <script>
            $(document).ready(function(){
                    $("#submit").click(function(){
                        $("#submit").html('<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>保存中...');
                        var username  = $("input[name='username']").val();
                        var user_uid  = $("input[name='user_uid']").val();
                        var user_key  = $("input[name='user_key']").val();
                        var type  = $("select option:selected").val();
                        var surplus  = $("input[name='surplus']").val();
                        var limitnum  = $("input[name='limitnum']").val();
                        var status  = $("select[name='status']").val();
                        var balance = $("input[name='balance']").val();
                        $.ajax({
                          url:'/admin/UserManage/edit',
                          type:'post',
                          data:{
                              username,
                              user_uid,
                              user_key,
                              surplus,
                              limitnum,
                              type,
                              status,
                              balance,
                          },
                         success:function(data){
                                $("#submit").html('保存');
                                $.message({
                                    message:''+data.msg+'',
                                    type:'success',
                                });
                                //setTimeout(function(){ window.location.href= ''; }, 2000);
                         }
                        });
                    });
                    
                    $("#dian").click(function(){
                        var zhi = $("select option:selected").val();
                        if(zhi == 1){
                            $("input[name='surplus']").val('');
                            $("#limit").html('');
                            $("#textmonth").html('剩余点数');
                        }else{
                            $("input[name='surplus']").val('');
                            $("#limit").html('<label for="example-url-input" class="col-md-2 col-form-label" id="textmonth">限制</label><div class="col-md-10"><input class="form-control" type="number"  name="limitnum" placeholder="限制每日调用次数 例如10000"></div>');
                            $("#textmonth").html('到期时间'); 
                        }
                        
                    });
            });
        </script>
    </body>
</html>
