<!doctype html>
<html lang="en">
    {include file="/head" /}
    {include file="/nav" /}
    <!-- END Sidebar -->
        <style>
        .a{
            margin-top: 20px;
        }
        </style>
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">调用记录</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">调用记录</a></li>
                                    
                                    </ol>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
    
                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
            
                                            <h4 class="header-title">调用记录</h4>
                                            <p class="card-title-desc">调用记录可定时清理删除<code>需在定时任务设置</code>.
                                            <a href="/api/index/emptyday/key/{$mykey}">一键清理</a>
                                           
                                            </p>
                                            
                                            <span class="badge badge-success"></span>
                                            <div>
                                            <a href="./call.html">切换调用记录</a>
                                            <a href="./uerror.html">切换错误排行</a>
                                             
                                             </div>
                                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>用户名</th>
                                                    <th>uid</th>
                                                    <th>类型</th>
                                                    <th>剩余</th>
                                                    <th>今日调用</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {volist name="list" id="data"}
                                                <tr>
                                                    <td><span class="badge badge-primary">{$data.id}</span></td>
                                                    <td>{$data.username}</td>
                                                    <td>{$data.user_uid}</td>
                                                    <td>{$data.type}</td>
                                                    <td>{$data.surplus}</td>
                                                    <td>{$data.calltoday}</td>
                                                    <td><div class="btn-group" role="group">
                                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                操作 <i class="mdi mdi-chevron-down ml-1"></i>
                                                              </button>
                                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                <a class="dropdown-item" href="{:url('/admin/UserManage/increase')}?user={$data.username}">加款</a>
                                                                <a class="dropdown-item" href="{:url('/admin/UserManage/edit')}?user={$data.username}">编辑</a>
                                                                
                                                              </div>
                                                            </div></td>
                                                </tr>
                                                {/volist}
                                                </tbody>
                                                
                                            </table>
                                            {$list|raw}
                                        </div>
                                        
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
            
                         

                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
        {include file="/footer"}
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/static/adassets/libs/jquery/jquery.min.js"></script>
        <script src="/static/adassets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/adassets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/adassets/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/adassets/libs/node-waves/waves.min.js"></script>

        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

        <!-- datepicker -->
        <script src="/static/adassets/libs/air-datepicker/js/datepicker.min.js"></script>
        <script src="/static/adassets/libs/air-datepicker/js/i18n/datepicker.en.js"></script>

        <!-- apexcharts -->
        <script src="/static/adassets/libs/apexcharts/apexcharts.min.js"></script>

        <script src="/static/adassets/libs/jquery-knob/jquery.knob.min.js"></script> 

        <!-- Jq vector map -->
        <script src="/static/adassets/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="/static/adassets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

        <script src="/static/adassets/js/pages/dashboard.init.js"></script>

        <script src="/static/adassets/js/app.js"></script>
        <script>
            $(document).ready(function(){
                $("ul.pagination li").addClass("page-item");
                $("ul.pagination li a").addClass("page-link");
                var page = $("ul.pagination li.active span").text();
                $("ul.pagination li.active").html('<a class="page-link" href="#">'+page+'<span class="sr-only">(current)</span></a>');
                $("ul.pagination li span").addClass("page-link");
            });
        </script>

    </body>
</html>