<!DOCTYPE html>
<html lang="en">
{include file="/head" /} 
<body>
{include file="/msg" /} 
    <!-- Begin page -->
    <div id="wrapper">
        
        <!-- ========== 导航 ========== -->
        {include file="/nav" /} 
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">常见问题</h4>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="text-center">
                                <h5>请仔细查看</h5>
                                <p class="text-muted">如遇到的问题不在此列表中,请<a href="{$qq}">联系客服</a>,将您的问题详细发出来,并且发送截图！不在问在不在,直接发问题节约你我的时间,看到会解答</p>
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-30">
                        <div class="col-lg-4">
                            <div class="card faq-box border-success">
                                <div class="card-body">
                                    <div class="faq-icon float-right">
                                        <i class="fas fa-question-circle font-24 mt-2 text-success"></i>
                                    </div>
                                    <h5 class="text-success">01.</h5>
                                    <h5 class="font-16 mb-3 mt-4">搭建流程</h5>
                                    <p class="text-muted mb-0">①在左侧下载解析客户端 - ②上传至你的服务器 - ③修改user.php的uid和秘钥 信息在左侧的个人信息一栏！</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card faq-box border-primary">
                                <div class="card-body">
                                    <div class="faq-icon float-right">
                                        <i class="fas fa-question-circle font-24 mt-2 text-primary"></i>
                                    </div>
                                    <h5 class="text-primary">02.</h5>
                                    <h5 class="font-16 mb-3 mt-4">怎样使用？</h5>
                                    <p class="text-muted mb-0">调用方法 http://你的域名/?url=链接 播放成功后在你的网站后台修改解析信息为此链接！即可。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card faq-box border-warning">
                                <div class="card-body">
                                    <div class="faq-icon float-right">
                                        <i class="fas fa-question-circle font-24 mt-2 text-warning"></i>
                                    </div>
                                    <h5 class="text-warning">03.</h5>
                                    <h5 class="font-16 mb-3 mt-4">资源提交</h5>
                                    <p class="text-muted mb-0">遇到解析失败的可以将链接提交至后台,有替换的链接可以写上没有就留空，等待处理即可！</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-lg-4">
                                <div class="card faq-box border-danger">
                                    <div class="card-body">
                                        <div class="faq-icon float-right">
                                            <i class="fas fa-question-circle font-24 mt-2 text-danger"></i>
                                        </div>
                                        <h5 class="text-danger">04.</h5>
                                        <h5 class="font-16 mb-3 mt-4">防盗链</h5>
                                        <p class="text-muted mb-0">授权域名是给你的使用站点的域名授权,并不是解析的域名！不要混淆，当开启防盗时解析不能直接通过url调用,只能在你授权的站点使用！</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-4">
                                <div class="card faq-box border-info">
                                    <div class="card-body">
                                        <div class="faq-icon float-right">
                                            <i class="fas fa-question-circle font-24 mt-2 text-info"></i>
                                        </div>
                                        <h5 class="text-info">05.</h5>
                                        <h5 class="font-16 mb-3 mt-4">短视频为什么不能播放</h5>
                                        <p class="text-muted mb-0">注意短视频只有json形式的格式,由于是json的格式url不能直接复制播放,需要先将json解析 如php的json_decode() 或者将链接中的"\"删除,就能直接播放无水印的视频了</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-4">
                                <div class="card faq-box border-dark">
                                    <div class="card-body">
                                        <div class="faq-icon float-right">
                                            <i class="fas fa-question-circle font-24 mt-2 text-dark"></i>
                                        </div>
                                        <h5 class="text-dark">06.</h5>
                                        <h5 class="font-16 mb-3 mt-4">播放器怎么弄</h5>
                                        <p class="text-muted mb-0">客户端内置有客户端播放器,在user.php中将开关开开后即可！注意不能乱改动客户端,以免造成解析失效失败的问题！需要对接自己弹幕库的联系客服获取帮助！</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->

             {include file="/foot" /} 

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.js"></script>
    <script src="/static/assets/js/waves.min.js"></script>


    <script src="/static/assets/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/app.js"></script>

</body>

</html>